:root {
  font-size: 20px!important;
}

p, a, article, body, section {
  padding: 0!important;
  margin: 0!important;
  font-family: "Roboto Condensed",sans-serif!important;
}

a {
  color: inherit!important;
  font: inherit!important;
}

h2 {
  font: bold 16px/16px "Roboto Condensed",sans-serif!important;
  color: rgb(3,3,3);
  color: rgba(3,3,3,.4);
  padding-bottom: 11px;
  margin-bottom: 0!important;
}

h3 {
  font-size: 22px!important;
  font-weight: bold!important;
  line-height: 24px!important;
  margin-bottom: 10px!important;
  color: black;
}

h4 {
  margin-bottom: 10px!important;
  color: black;
  font-size: 17px!important;
  line-height: 20px!important;
  font-weight: bold!important;
}

h5 {
  color: #272727!important;
  font: 20px/22px "Lora",serif!important;
}

.visible-lg {
  display: none;
}

.header {
  position: relative;
  background-color: #f72210;
  height: 50px;
  padding: 15px;
}

.logo-img {
  width: 132px;
  height: 20px;
  vertical-align: top;
}

.header-buttons {
  font: bold 18px/14px "Roboto Condensed",sans-serif!important;
  right: 0;
  align-self: center;
}

.signin {
  padding: 6px 12px!important;
}

.subscribe {
  padding: 6px 10px 6px 12px!important;
  color: #f72210!important;
}

.menu-icon {
  font-size: 34px;
  padding: 20px;
  opacity: 0.5;
}

.main {
  padding: 20px 15px 0 15px!important;
}

.max-width1310 {
  max-width: 1310px!important;
}

.btt-lft {
  left: 0;
  bottom: 0;
  color: #f72210!important;
  font: bold 17px/16px "Roboto Condensed",sans-serif!important;
  padding: 8px 15px 9px 15px!important;
}

.summary {
  color: #333!important;
  font-size: 13px;
  line-height: 18px;
  font-family: Arial,Helvetica,sans-serif!important;
}

.ms-article {
  padding: 14px 0!important;
  display: inline-block;
}

.ms-img {
  width: 258px;
  margin-right: 15px;
}

.culture-travel {
  background-color: #f4f5f7;
}

.cult-trvl {
  padding: 15px 10px 20px 10px;
}

.ct-summary {
  font: 15px/20px "Helvetica Neue","Helvetica",Arial,sans-serif!important;
  color: rgb(39,39,39);
  color: rgba(39,39,39,.5)!important;
}

.tags {
  background-color: #c2d4d7;
  margin: 0 6px 6px!important;
}

.tags span {
  padding: 0 6px!important;
  font: 300 13px/20px "Helvetica Neue","Helvetica",Arial,sans-serif!important;
  color: #272727!important;
}

@media (min-width: 992px) {
  .visible-lg{
    display: inherit;
  }

  .header {
    padding: 20px;
    height: 95px;
  }

  .nw-logo {
    left: 50%;
    transform: translate(-50%,0);
  }

  .logo-img {
    width: 396px;
    height: 60px;
  }

  .navbar0 {
    left: 0;
    padding-right: 160px;
  }

  .nav-list {
    padding: 15px 0!important;
  }

  .nav-link {
    color: black!important;
    font-size: 21px;
    line-height: 24px;
    font-weight: bold;
  }

  .nw-date {
    left: 30px;
    bottom: 15px;
    font: 16px/34px "Roboto Condensed",sans-serif;
  }

  .header-buttons {
    right: 10px;
    bottom: 15px;
  }

  .menu-icon {
    display: none;
  }

  .nav-item {
    border-color: #d9d9d9;
  }

  .search-form {
    width: 60px;
    height: 54px;
    top: 0;
    right: 102px;
  }

  .search-icon {
    right: 82px;
    top: 11px;
  }


}